<nav class="side-nav" aria-label="グローバルナビゲーション">
  <ul class="side-nav__list">
    <li class="side-nav__item">
      <a href="index.html" class="side-nav__link">ホーム</a>
    </li>
    <li class="side-nav__item">
      <a href="about.html" class="side-nav__link">事務所案内</a>
    </li>
    <li class="side-nav__item">
      <a href="environment.html" class="side-nav__link">働く環境</a>
    </li>
    <li class="side-nav__item">
      <a href="requirements.html" class="side-nav__link">募集要項</a>
    </li>
    <li class="side-nav__item side-nav__entry">
      <a href="entry.html" class="side-nav__entry-link">エントリー</a>
    </li>
  </ul>
</nav>
<span class="side-nav__indicator" aria-hidden="true"></span>
